/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --color-logo-text: var(--pinklight);
  --accent-color: var(--pink);
  --color-text: var(--grey);
  --color-menu: var(--grey);
  --color-title-text: var(--grey);
  --color-subtitle-text: var(--grey);
  --background-header: url('../images/cover-image-light.png');
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .rec {
  display: none;
}


@media (prefers-color-scheme: light) {
  :root {
    --color-logo-text: var(--pinklight);
    --accent-color: var(--pink);
    --color-text: var(--grey);
    --color-menu: var(--grey);
    --color-title-text: var(--grey);
    --color-subtitle-text: var(--grey);
    --background-header: url('../images/cover-image-light.png');
  }
}
